<h1 id="design-non-garanti">Design non-garanti</h1>
<p><em>design non-garanti</em></p>
<ul>
<li>chercher à garantir</li>
<li>présuppose d’un usage</li>
<li>heurte à l’individu / utilisateur</li>
<li>absurde</li>
<li>design non-garanti</li>
<li>embrasse l’incertitude</li>
</ul>
<p><em>4 couples</em></p>
<ul>
<li>théorie / pratique</li>
<li>espace de travail / espace de monstration</li>
<li>travail quotidien / projet de diplôme</li>
<li>courte durée / longue durée</li>
</ul>
<p><em>monstration</em></p>
<ul>
<li>objets utilisés</li>
<li>site / serveur</li>
</ul>
<h2 id="server">server</h2>
<ul>
<li>mise en place d’un serveur</li>
<li>à la fois un espace de travail et espace de montration (git, fichiers numériques, etc.)</li>
<li>en ce sens s’oppose à la distinction entre et entraîne un flou entre ces deux espaces, concepts, idéaux, illusions</li>
<li>rapport moins débordé, dépassé, une certaine proximité, rapport avec l’objet qui est de l’ordre de la possesion et de l’entretien</li>
<li><p>une pratique alternative qui s’inscrit dans la décentralisation</p></li>
<li>page d’accueil</li>
<li><p>flyer</p></li>
</ul>
<h2 id="floodfill">floodfill</h2>
<ul>
<li>algorithme recursif de remplissage</li>
<li><p>multi-curseurs, multi-grid, dimension temporelle, paramétrable</p></li>
<li>typiquement concert évité comme moment de partage</li>
<li>problème avec la représentation, l’exposition, le spectacle</li>
<li>malgré le projet intéressant contexte qui n’est pas celui qu’on recherche</li>
<li><p>live-coding projeté sur un crucifix accroché à de l’agglo pendant un concert d’orchestre symphonique dans une église devant des mamies et un maire de droite</p></li>
<li>weaver.html</li>
<li>multdim.html</li>
<li>time.html</li>
<li><p>video trames.flood.mp4</p></li>
</ul>
<h2 id="dimensions">dimensions</h2>
<ul>
<li>étagères</li>
<li>vomis</li>
<li>words</li>
</ul>
<h2 id="baptiste11ans">baptiste11ans</h2>
<ul>
<li>workshop linda van deursen</li>
<li>une photo trouvé dans un livre / 1er resultat d’un moteur de recherche</li>
<li>photographies perdue, cachée, oubliée / accès algorithmique contenu</li>
<li>pencher sur la pertinence des contenu, qu’est ce qui la définie</li>
<li>le web, ces acteurs, différentes méthodes de classification généralement basé sur le quantitatif et la proximité</li>
<li>Google et son pageRanking, Youtube et ses suggestions</li>
<li>parmis les grosses plateformes (réseaux sociaux (facebook, instagram, etc.), contenus (youtube, flickr))</li>
<li>choisi Instagram car il traite principalement de l’image est dispose de compteurs (like, vues)</li>
<li>comme compteurs permette compter, il permette la quantification</li>
<li>qu’en est il des images pas aimé, pas pertiente</li>
<li>déplacement de la manière de montrer des images</li>
<li>confusion entre texte et images</li>
<li><p>commentaires et images</p></li>
<li>2 bots</li>
<li>bot basé base de donnée de 100 000 utilisateurs que nous avons récupéré</li>
<li><p>bot basé sur les liens entre utilisateurs (followers)</p></li>
<li>bot</li>
<li>active archive</li>
<li><p>ascii</p></li>
</ul>
<h2 id="terminator">terminator</h2>
<ul>
<li>c’est un tueur de terme</li>
<li>suite à des différentes lectures</li>
<li>intérêt pour discours</li>
<li><p>outil</p></li>
<li>gooddesignisgood.html</li>
<li><p>computer-technology.html</p></li>
</ul>
<h2 id="recursive-message-system">recursive message system</h2>
<ul>
<li>simple système de commentaire recursif</li>
<li>library ajouter sur un</li>
<li>dimension</li>
<li>potentiel rédactionel / écriture</li>
<li>détournement de l’usage des commentaires</li>
<li><p>refaire des choses évidentes acquises mais en tirer autre chose</p></li>
<li><p>21e</p></li>
</ul>
<h2 id="wayback-machine-screenshooter">wayback machine screenshooter</h2>
<ul>
<li>simple outil qui permet de prendre des screenshots des versions d’un site archivées sur archive.org</li>
<li>permet d’avoir un aperçu global</li>
<li>json en input permet de préciser des options</li>
</ul>
<h2 id="fb-writer">fb-writer</h2>
<ul>
<li>*nix architecture /dev/fb0 représentation de la matrice de pixels de l’écran</li>
<li>inscrire directement du contenu dans ce fichier modifie directement l’affichage</li>
<li>quelques calcul permette de mettre en place</li>
<li><p>on retrouve un rapport assez direct à la manipulation des pixels de l’écran</p></li>
<li><p>empilement de couches</p></li>
<li>pauvre console moche et pas graphique et mal aimé pas efficace</li>
<li><p>refaire choses évidentes, points, lignes, etc.</p></li>
</ul>
<h2 id="plenty-of-room">plenty of room</h2>
<ul>
<li>version online utilisable (framapad, yourworldoftext, etc.)</li>
<li><p>version téléchargeable, modifiable, etc.</p></li>
<li><p>jacques bertin videos</p></li>
</ul>
<h2 id="p2p-readwrite-web">p2p-readwrite-web</h2>
<ul>
<li>idée</li>
</ul>
<h2 id="notes-diverses">notes diverses</h2>
<ul>
<li>inversion et déplacement défait</li>
<li>défaire des discours, des acquis</li>
<li><p>défaire des contrôles</p></li>
<li>pas questions, pas de choix</li>
<li>implications plus profondes que ce qu’il prétend être</li>
<li>simplicité vers automatisation vers contrôle</li>
<li>complexité et étrangeté</li>
<li>dépassé par la simplicité</li>
<li><p>incertain</p></li>
<li>simple et intelligent</li>
<li><p>complexe et stupide</p></li>
<li>faire des programmes</li>
<li>faire des outils</li>
<li>face à un paradoxe</li>
<li>entre proposer quelque chose et imposer quelque chose</li>
<li>impossibile de faire un outil qui conditionne pas un usages</li>
<li>possibilité de faire un outil ouvert ou plutôt qui ouvre</li>
<li>laisse émerger des usages et idées innatendus, non-prévues</li>
<li>mediation et usages</li>
<li><p>outils ne propose pas que des fonctionnalités il propose des idées, des idéaux, des manière de voir, de faire</p></li>
<li>acquis</li>
<li><p>oublie une situation diversifiable</p></li>
</ul>
<h2 id="conclusion">(conclusion)</h2>
<ul>
<li>hormis le projet dactyloplodocus durant les concerts romans / valence</li>
<li>pas de présentation public, d’échanges, de commentaires, retours, etc. externes</li>
<li>problème avec la représentation, l’exposition, le spectacle</li>
<li>du coup le site / serveur s’inscrit dans cette volonté de rendre public et d’échanger</li>
<li>aussi d’autres envies rencontres, échanges, publications, au travers web et autres</li>
</ul>
<h2 id="site">site</h2>
<p>git/ projet1/ amuse-bouches/ img.jpg video.mp3 … index.html script.py …</p>
<p>site projets diapo amuse-bouches reprend la main tu te balade tu tripote</p>
<h1 id="material-installation">material, installation</h1>
<p>2 (7) ordis 2 (2) videoproj 1 (2) tv 2 (3) écrans</p>
<p>{ - [ ] waybackscreenshots.jpeg { print { - [ ] alarecherchedudesignperdu.html { ordi</p>
<p>{ - [ ] 21rms.html { ordi</p>
<p>{ - [ ] weaver.html { - [ ] trames.mp4 écran ordi { - [ ] multidim.html { - [ ] timeflood.html { - [ ] carres.html { - [ ] mots.html { - [ ] ronds.html { - [ ] beau-travail.mp4 { - [ ] multi-dir-text.mp4 { 1 videoproj 2 tv 1 ecran 1 ordi</p>
<p>{ - [ ] essay.py { - [ ] script.py { - [ ] scrapost.py { - [ ] activearchive.html { - [ ] commentary.md { 2 ordi + 1 videoproj + 1 ecran + print</p>
<p>{ - [ ] Licence.html { print 10 exemplaires</p>
<p>{ - [ ] technopeople.html { - [ ] gooddesignisgood.html { 1 ordi</p>
<p>{ - [ ] fbwriter diaporama { ecran</p>
<p>{ - [ ] newPlenty.mp4 { ordi</p>
